body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(80, 80, 80);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

button#close {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
}

button#open {
  position: absolute;
  top: 2em;
  left: 0;
}

#leaderboard {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  top:0;
  right: 0;
  opacity: 0.5;
}
